@import url('https://fonts.googleapis.com/css?family=Lato|Bungee|Cantarell');

body {
	font-family: 'Cantarell', sans-serif;
	font-size: 1.4rem;
	background: pink;
}

.app {
}

h1,
h2,
.points {
	font-family: 'Bungee', sans-serif;
}

.hand {
	position: relative;
	transform: scale(0.8);
	left: -2rem;
}

.hand.fan {
	width: 25vw;
}

.welcome,
.game-over > div {
	padding: 4rem 2rem;
}
